@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #010102;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}
.maker__blog {
  display: flex;
  flex-direction: column;
}
.maker__blog-heading {
  width: 100%;
  text-align: left;
  margin-bottom: 5rem;
}
.maker__blog-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04rem;
}
.maker__blog-container {
  display: flex;
  flex-direction: row;
}
.maker__blog-container_groupA {
  flex: 0.75;
  margin-right: 2rem;
}
.maker__blog-container_groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
@media screen and(max-width:990px) {
  .maker__blog-container {
    flex-direction: column-reverse;
  }
  .maker__blog-container_groupA {
    margin: 2rem 0;
  }
  .maker__blog-container_groupA .maker__blog-container_article {
    width: 48%;
  }
  .maker__blog-container_groupA .maker__blog-container_article-image {
    height: 250px;
  }
}
@media screen and(max-width:700px) {
  .maker__blog-container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }
  .maker__blog-container_groupA .maker__blog-container_article {
    width: 100%;
  }
  .maker__blog-heading {
    font-size: 46px;
    line-height: 52px;
  }
}
@media screen and(max-width:550px) {
  .maker__blog-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
